@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html
{
    scroll-behavior: smooth;
}

body 
{
    font-family: 'Poppins', sans-serif;
    background-color: #061f3d;
}

.menu
{
    padding: 10px;
    box-shadow: 0 3px 5px rgba(218, 23, 218, 0.2);
}

.logo
{
    width: 60px;
    text-align: center;
    display: flex;
}

.return
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-return
{
    justify-content: center;
    background-color: #7270ec;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.container-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 550px;
}

.content-cart {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info
{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 400px;
}

.product-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    margin: 0 30px;
}

.product-text h3
{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.product-text p
{
    font-size: 20px;
    margin: 10px;
}

.product-text button
{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #061f3d;
    color: white;
    border: none;
    border-radius: 10px;
}


.container-products img
{
    width: 100px;
    height: 100px;
}

.totales
{
    text-align: center;
    color: white;
}

.botones
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    
.btn-comprar
{
    background-color: #7270ec;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-right: 10px;
}

.btn-comprar:hover
{
    scale: 1.1;
}

.btn-vaciar
{
    background-color: #7270ec;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
}

.btn-vaciar:hover
{
    scale: 1.1;
}

.footer
{   
    background-color: white;
    box-shadow: 0 -3px 5px rgba(218, 23, 218, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text
{
    padding: 10px;
    font-size: 20px;
    color: #747b8f;
    text-align: center;
}

